@charset "utf-8";
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;
    src: url(../font/NotoSansKR-Thin.woff2) format('woff2'),
         url(../font/NotoSansKR-Thin.woff) format('woff'),
         url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
    src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
         url(../font/NotoSansKR-Light.woff) format('woff'),
         url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
         url(../font/NotoSansKR-Regular.woff) format('woff'),
         url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
         url(../font/NotoSansKR-Medium.woff) format('woff'),
         url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
         url(../font/NotoSansKR-Bold.woff) format('woff'),
         url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
    src: url(../font/NotoSansKR-Black.woff2) format('woff2'),
         url(../font/NotoSansKR-Black.woff) format('woff'),
         url(../font/NotoSansKR-Black.otf) format('opentype');
}


img{max-width: 100%;}
a,button,textarea{outline:none;}
button{cursor:pointer;background: none;border: none;}

.header{height: 50px;text-align:center;display:block;z-index: 500;position: relative;}
.header>.inner{/* color: #545454; */display:flex;height: 50px;align-items: center;justify-content: center;position: fixed;left: 0;right: 0;z-index: 500;top: 0px;background: #ffffff;border-bottom: rgba(0,0,0,0.2) solid 1px;box-shadow:rgba(0,0,0,0.1) 2px 2px 3px;}
.header .title{/* font-family: "Verdana"; */font-weight: 600;}
.footer{height:60px;background: #86a941;text-align:center;display:block;}
.footer>.inner{color: #ffffff;display:flex; height:50px; align-items: center; justify-content: center;}


.menubar{height: calc( 45px + env(safe-area-inset-bottom) );position:relative;transition: all 0.4s;}
.menubar>.inner{height: calc( 45px + env(safe-area-inset-bottom) );}
.menubar>.inner{position:fixed;background: rgba(255,255,255,1);transition: all 0.4s;z-index:300;bottom: 0px;left:0px;right: 0px;border-top: rgba(0,0,0,0.4) solid 0.5px;/* padding: 0 16px; */box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;}
.menubar.hide{}
.menubar.hide>.inner{ transform: translateY(100%);}
.menubar .menu{display:flex; justify-content:  space-between; align-content: center; align-items: center;}
.menubar .menu>li{width:100%;display:flex;align-items: center;align-content: center;border-left: #dddddd solid 0.5px;}
.menubar .menu>li>a{color: #545454;/* font-size: 0px; */height: 44px;display:flex;align-items: center;align-content: center;justify-content: center;width: 100%;padding-bottom: 0px;font-size: 12px;}
.menubar .menu>li>a em{font-family:"NotoSansCJKkr-Md"; font-size: 0px; line-height: 10px;display: inline-block;margin: 0 4px 0px 4px;}
.menubar .menu>li>a:before{background: no-repeat;background-size: 100% auto;content:"";display:block;width: 70px;height: 44px;opacity:0.5;position: absolute;}
.menubar .menu>li.active>a{color: #000000;}
.menubar .menu>li.active>a::before{/* background-position-y: -60px; */opacity:1;}
.menubar .menu>li.look.on>a:before{color:#70f5c4;background-position-y: -60px;}






/* 입력 */
span.input{display:inline-block;vertical-align:middle;position: relative;}
span.input>input,
span.textarea>textarea{display:block;/* width:100%; */padding: 5px 10px 5px 10px;border-radius:0px;margin:0px 0;background-image:none;-webkit-appearance:none;color:#181818;border:#c7c7c7 solid 1px;resize:none;outline:none;vertical-align: middle;-webkit-border-radius: 0;}
span.input>input{ height:40px; }
span.textarea>textarea{ padding:9px 8px 9px 8px; height: 100px;}

span.input.db{display:block;}
span.input.db>input,
span.textarea.db>textarea{display:block;width: 100%;}
textarea:not([readonly]):not([disabled]):focus,
input:not([type=radio]):not([type=radio]):not([readonly]):not([disabled]):focus{ border-color:#333333; }

select[disabled],
textarea[disabled],textarea[readonly],
input[readonly],
input[disabled]{color:#959595;background-color:#f5f5f5;border-color:#c7c7c7;-webkit-text-fill-color:#959595;}
input[type="radio"],
input[type="checkbox"]{width:30px;height:30px;display:inline-block;vertical-align:middle;opacity:0;}

.input>input.valid{background: url(../img/common/validation.png) no-repeat right 5px top 9px;background-size: 20px auto;padding-right: 31px;}
.input>input.valid.ok{background-position-y: -31px;}
.input>input.valid.no{background-position-y: -72px;border-color: #daa096 !important;}

.input.del{}
.input.del>input{padding-right: 29px;}
.input.del .btnDel{background:url(../img/common/btn_ico_input_del.png) no-repeat;width:22px;height:22px;display:block;position: absolute;right: 6px;top: 9px;font-size: 0;padding: 0;}

/* checkbox */
.checkbox{position:relative;display:inline-block;vertical-align:middle;}
.checkbox>input{position:absolute;left:0px;top:0px;padding:0px;z-index: 10;}
.checkbox>span::before{width:30px;height: 30px;background: url(../img/common/form.png) no-repeat;display:inline-block;vertical-align:middle;background-size: 75px auto;margin-left: -4px;content:"";}
.checkbox>input:checked + span::before{background-position-y: -30px;}
.checkbox>input:disabled + span::before{background-position-y: -60px;}
.checkbox>input:checked:disabled + span::before{background-position-y: -90px;}
.checkbox>span{display:inline-block;vertical-align:middle;/* margin-left:5px; *//* line-height: 30px; */}

/* radio */
.radio{ position:relative; display:inline-block; vertical-align:middle; }
.radio>input{position:absolute;left:0px;top:0px;padding: 0;margin: 0px;}
.radio>span::before{width:30px;height:30px;background: url(../img/common/form.png) no-repeat;content:"";display:inline-block;vertical-align:middle;background-size: 75px auto;background-position-x: -30px;margin-left: -4px;}
.radio>input:checked + span::before{background-position-y: -30px;}
.radio>input:disabled + span::before{background-position-y: -60px;}
.radio>input:checked:disabled + span::before{ background-position-y:-90px; }
.radio>span{display:inline-block;vertical-align:middle;/* line-height: 30px; */}

/* select */
.select{display:inline-block; vertical-align:middle;}
.select.db{ display: block; }
.select.db>select{display:block;width: 100%;}
.select>select{height: 40px;user-select:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;outline:none;background: url(../img/common/select.png) no-repeat right 3px top 5px transparent;background-size: 30px auto;position:relative;border:1px solid #cccccc;margin:0;overflow:hidden;padding: 0 35px 1px 10px;text-overflow:ellipsis;white-space:nowrap;font-size: 16px;color:#181818;max-width: 100%;}
.select>select:not([disabled]):focus{ border-color:#0052bb;}
.select>select:after{content:"";width: 1px;height:30px;position:absolute;right: 30px;top:0px;background:#dddddd;}
select::-ms-expand {display:none;}


/* jquery ui select */
.select.db .ui-selectmenu-button.ui-button{width: 100%;}
.ui-selectmenu-button.ui-button{background: #ffffff;/* width: 100%; */padding: 8px 35px 8px 10px;outline: none;border-radius: 0px;border: #cccccc solid 1px;/* font-family: 'Noto Sans KR'; *//* color: #000000; */display: inline-block;height: 40px;font-size: 15px;/* font-weight: 300; */margin-right: 0;}
.ui-selectmenu-button.ui-button.ui-state-disabled{opacity:1;background-color: #f5f9fc;border-color: #f5f9fc;}
.ui-selectmenu-button.ui-button.ui-state-disabled .ui-selectmenu-icon{ opacity:0.5;}
.ui-selectmenu-icon.ui-icon{background: url(../img/common/select.png) no-repeat -6px -7px transparent !important;/* margin-top: -1px; */position: absolute;right: 12px;top: 50%;margin-top: -8px;background-size: 30px auto !important;}
.ui-selectmenu-text{margin-right: 0;/* font-family: 'Noto Sans KR'; */}
.ui-selectmenu-menu .ui-menu{margin-top: -1px;border: #cccccc solid 1px;padding: 0px 0;border-radius: 0px;border-top-width: 1px;}
.ui-selectmenu-menu .ui-menu>li{}
.ui-selectmenu-menu .ui-menu>li .ui-menu-item-wrapper{border: #cccccc solid 0px;padding: 8px 10px 8px 11px;border-width: 1px 0px 0px 0px;/* font-family: "Noto Sans KR"; */font-size: 14px;line-height: 150%;/* height: 24px; */white-space: nowrap;font-weight: 300;}
.ui-selectmenu-menu .ui-menu>li .ui-menu-item-wrapper.ui-state-active{/* border: #000000 solid 0px; */background-color: #f3f3f3;color: #4a4a4a;margin: 0px;border-width: 0px 0px 0px 0px;}
.ui-selectmenu-menu .ui-menu>li:first-child .ui-menu-item-wrapper{border-top-color: transparent !important;}


.icoWarning{border: 1px solid #909090;width: 24px;height: 24px;border-radius: 24px;font-size: 14px;display:inline-block;vertical-align:middle;font-weight: bold;color: #666;}



.uiDate{position:relative;display: inline-block;width: 100%;}
.uiDate input.datepicker,
.uiDate input.datepicker:hover{padding-right: 30px;background: url(../img/common/datepicker.png) no-repeat right 3px top 50% #ffffff;background-size: 32px auto;color:#181818;cursor: pointer;}
.uiDate input.datepicker + .ui-datepicker-trigger{width: 40px;height: 40px;font-size:0px;vertical-align:middle;/* margin-left: -35px; */outline:none;position: absolute;right:0px;top:0px;border: none;background: none;}
.uiDate input.datepicker_month{border-radius: 0px;padding-right: 30px;background: url(../img/common/datepicker.png) no-repeat right 3px top 50% #ffffff;background-size: 32px auto;color: #181818;cursor: pointer;}



.input.sch{ position:relative; display:inline-block; vertical-align:middle; width:100%; }
.input.sch>input{width:100%;padding-right: 45px;}
.input.sch .btnSch{width: 40px;height:38px;font-size:0px;position:absolute;right:1px;top:1px;background: url(../img/common/icoFormSch.png) no-repeat center;background-size: auto 30px;background-color:transparent;border:none;padding:0;}

/* 수량 +- */
.uiSpinner{}
.uiSpinner{display:inline-block;vertical-align:middle;height: 40px;position:relative;border:#bbbbbb solid 1px;padding: 0 40px;width: 140px;box-sizing:border-box;}
.uiSpinner .n{width:100%;text-align:center;height: 38px;padding:0px;color: #000 !important;background-color:#ffffff !important;border:none !important;-webkit-text-fill-color: #000;}
.uiSpinner button{width: 40px;height: 38px;position:absolute;top:0px;background:url(../img/common/uiSpinner.png) no-repeat #f3f3f3;background-size: 38px 64px;text-indent:-9999px;}
.uiSpinner .m{ left:0px; border-right:#bbbbbb solid 1px; background-position:1px 0;}
.uiSpinner .p{ right:0px;  border-left:#bbbbbb solid 1px; background-position:1px -30px;}
.uiSpinner button[disabled]{opacity:0.3;border-color:#000000;}

/* 별점 */
.uiStar{ display:inline-block; vertical-align:middle; }
.uiStar i{ font-style:normal; }
.uiStar ul{ overflow:hidden; display:inline-block; vertical-align:middle; }
.uiStar ul>li{float:left;margin-left: 5px;}
.uiStar ul>li:first-child{margin-left:0px; }
.uiStar ul>li>.st{display:block;width: 32px;height: 32px;background: url(../img/common/uiStar.png) no-repeat;background-position:0 0%;background-size:auto 100%;font-size: 0;}
.uiStar ul>li.h>.st{background-position: 43% 0;}
.uiStar ul>li.f>.st{ background-position:86% 0;}
.uiStar .p{height:33px;font-size:20px;font-weight:bold;color:#666666;display:inline-block;vertical-align:middle;margin-left:5px;}

/* 슬라이더 */
.uiSlider{} 
.uiSlider.ui-slider{background:#dddddd;border: none;height: 4px;border-radius: 0px;margin: 0 10px;}
.uiSlider.ui-slider .ui-slider-handle{width: 24px;height: 24px;top: -10px;border-radius: 100%;border: 3px solid #000;background:#ffffff;outline: none;}
.uiSlider.ui-slider .ui-slider-handle span{position:absolute;top: -24px;width: 40px;color: #333333;text-align: center;margin-left: -11px;}
.uiSlider.ui-slider .ui-slider-range{background:#333333;height: 6px;margin-top: -1px;}

/* 원형그래프 */
.uiCircle {width: 100px;margin: 10px 5px;display: inline-block;position: relative;text-align: center;line-height: 1.2;}
.uiCircle canvas {vertical-align: top;/* transform: rotate(90deg); */border-radius: 100%;}
.uiCircle strong {position: absolute;top: 34px;left: 6px;width: 100%;text-align: center;line-height: 30px;font-size: 24px;font-family: "Verdana";font-weight: normal;}
.uiCircle strong i {font-style: normal;font-size: 0.6em;font-weight: normal;}


.uiChk{display:inline-block;vertical-align:middle;position:relative;}
.uiChk em{width:52px;height:26px;background: #aaaaaa;position:relative;outline:none;border-radius:26px;-webkit-appearance:none;display:block;line-height: 1;}
.uiChk input[type=checkbox] {width:52px;height:26px;padding:0px;position:absolute;z-index:10;margin: 0;}
.uiChk input + em::after{content:"OFF";position:absolute;left:27px;top: 8px;font-size: 10px;color:#ffffff;/* font-family:'Tahoma'; */line-height: 1;}
.uiChk input + em::before{position:absolute;left:2px;top:2px;width:22px;height:22px;background:#ffffff;border-radius:30px;transition:all 0.2s;content:"";}
.uiChk input:checked + em{background:#0052bb;}
.uiChk input:checked + em::after{content:"ON";left: 8px;}
.uiChk input:checked + em::before{left:28px;}
.uiChk input:disabled + em{ opacity:0.5;}


.uiAddFile{position:relative;display:inline-block;width:100%;overflow:hidden;vertical-align:middle;line-height:23px;padding-right: 86px;box-sizing:border-box;}
.uiAddFile .file{ width:100%; position:relative; display:block; vertical-align:middle;}
.uiAddFile .file button.delete{display:none;position:absolute;right: 9px;top: 10px;width:20px;height:20px;background: url(../img/common/delete.png) no-repeat center;background-size: 12px auto;text-indent:-9999px;overflow:hidden;border: none;}
.uiAddFile.on .file button.delete{display:block;cursor: pointer;}
.uiAddFile .file .loc{vertical-align:middle;white-space:nowrap;overflow:hidden;width:100%;display:inline-block;background-color: #ffffff;color:#999999;padding-right: 33px;}
.uiAddFile .btnAttach{ position:absolute; right:0px; top:0px;}
.btnAttach{position:relative;width: 80px;text-align:center;padding:0 0px !important;overflow:hidden;border: 1px #999 solid;height: 40px;display: inline-block;} 
.btnAttach .fileButton{width:100%;font-size: 14px;line-height: 36px;} 
.btnAttach .bt{} 
.btnAttach .fileInput{font-size:100px;position:absolute;right:0px;top:0px;width:100%;height: 40px;top:0px;opacity:0;filter:alpha(opacity=0);cursor:pointer;padding:0px !important;border:none;}

.uiAttach{padding:0px 0px 0px 0px;position:relative;}
.uiAttach .btnAttach{overflow:hidden;display: block;width: 100%;height: 40px;border: 1px solid #c7c7c7;text-align: right;}
.uiAttach .btnAttach .fileButton{width:100%;font-size: 14px;display: block;/* padding: 8px 10px 8px 10px; */text-align: center;} 
.uiAttach .btnAttach .fileInput{font-size:100px;position:absolute;right:0px;top:0px;width:100%;height: 39px;top:0px;opacity:0;filter:alpha(opacity=0);cursor:pointer;padding:0px !important;border:none;}
.uiAttach .txt{color:#999999;position: absolute;left: 11px;top: 8px;}
.uiAttach .file{display:none;min-height:30px;padding: 0px 0;box-sizing:border-box;}
.uiAttach .file>li{position:relative;border-bottom: #ececec solid 1px;padding: 10px 7px;}
.uiAttach .file>li .name{display:inline-block;vertical-align:middle;max-width: 88%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 13px;}
.uiAttach .file>li .delete{position: absolute;right: 2px;top: 50%;width: 26px;height: 26px;background: url(../img/common/delete.png) no-repeat center;background-size: 12px auto;text-indent:-9999px;overflow:hidden;border-radius: 100px;margin-top: -13px;border: none;}
.uiAttach.on .txt{}
.uiAttach.on .file{ display:block; }

.ui-add-file{position:relative;display:inline-block;overflow:hidden;vertical-align:middle;line-height: 0.9;}
.ui-add-file .file{position:relative;display: inline-block;vertical-align:middle;padding: 0px 20px 0px 0px;}
.ui-add-file .file button.delete{display:none;position:absolute;right: 0px;top: 4px;width:20px;height:20px;background: url(../img/common/delete.png) no-repeat center;text-indent:-9999px;overflow:hidden;border: none;background-size: 10px auto;}
.ui-add-file.on .file button.delete{display:block;cursor: pointer;}
.ui-add-file .file .loc{vertical-align:middle;white-space:nowrap;overflow:hidden;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline-block;border: none;height: 25px;max-width: 170px;/* padding: 1px 27px 1px 6px; */margin-left: 5px;font-size: 14px;line-height: 1.6;}
.ui-add-file.on .file .loc{}
.btn-attach{padding: 2px 0px;}
.btn-attach{position:relative;overflow:hidden;width: 110px;height: 25px;font-size: 15px;} 
.btn-attach .fileButton{line-height: 18px;} 
.btn-attach .bt{} 
.btn-attach .fileInput{font-size:100px;position:absolute;right:0px;top: -1px;width:100%;height: 25px;opacity:0;filter:alpha(opacity=0);cursor:pointer;padding:0px !important;border:none;}


.ui-add-pic{position:relative;display:inline-block;overflow:hidden;vertical-align:middle;line-height: 0.9;}
.ui-add-pic .file{position: absolute;display: block;vertical-align:middle;padding: 0px 0px 0px 0px;right: 0;top: 0px;line-height: 1;z-index: 100;width: 50px;height: 50px;overflow: hidden;}
.ui-add-pic .file button.delete{display:none;position:absolute;right: 0px;top: 0px;width:21px;height:21px;background: url(../img/common/btn_pic_del.png) no-repeat center;text-indent:-9999px;overflow:hidden;border: none;}
.ui-add-pic.on .file button.delete{display:block;cursor: pointer;}
.ui-add-pic .file .loc{vertical-align:middle;overflow:hidden;width:100%;overflow:hidden;display: block;border: none;height: 50px;/* max-width: 170px; *//* padding: 1px 27px 1px 6px; */font-size: 14px;line-height: 1.6;}
.ui-add-pic .file .img{width: 100%;height: 100%;}
.ui-add-pic.on .file .loc{}

.btn-add-pic{position:relative;overflow:hidden;width: 50px;height: 50px;font-size: 15px;border: #4555d1 solid 1px;display: inline-block;vertical-align: middle;} 
.btn-add-pic:hover{background-color:#4555d1;}
.btn-add-pic:hover::after{color:#ffffff;}
.btn-add-pic::after{width: 100%;height: 100%;content: "+";display:inline-block;vertical-align:middle;/* background:url(../img/common/ico_file_add.png) no-repeat; */margin: 0px 0px 0px 0px;font-size: 28px;color: #4555d1;position: absolute;left: 0px;top: 0;z-index: 1;text-align: center;padding: 8px 0px;}
.btn-add-pic .fileButton{line-height: 0px;font-size: 0;z-index: 100;position: relative;width: 48px;height: 48px;} 
.btn-add-pic .bt{} 
.btn-add-pic .fileInput{font-size:100px;position:absolute;right:0px;top: 0px;width:100%;height: 100%;opacity:0;filter:alpha(opacity=0);cursor:pointer;padding:0px !important;border:none;}




/* 말줄임 ...  */
.ellip1{text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.ellip2{-webkit-line-clamp:2; max-height:3em; line-height:1.5em; -webkit-box-orient:vertical; display:-webkit-box; text-overflow:ellipsis; overflow:hidden; word-break:break-all;}

/* 블릿 리스트 타입*/
ul.bullet{ }
ul.bullet>li .st{color:#e84e4e;}
ul.bullet.type>li{  line-height:16px;  position:relative; margin-top:4px;}
ul.bullet.type>li:first-child{ margin-top:0px; }
ul.bullet.type>li:before{ position:absolute; left:0px; top:0px;}

ul.bullet.type.a{}
ul.bullet.type.a>li{ padding-left:6px;}
ul.bullet.type.a>li:before{ width:2px; height:2px; background:#666666; position:absolute; left:0px; top:6px;  content:""; }

ul.bullet.type.b{}
ul.bullet.type.b>li{ padding-left:7px;}
ul.bullet.type.b>li:before{ content:""; background:#666666; top:6px; width:4px; height:1px; display:block; position:absolute;}


/* 풀다운 새로고침 */
.pull-to-refresh--refreshing{}
.pull-to-refresh-material2 {  position: relative; background-color:#dddddd;}
.pull-to-refresh-material2__control {position: absolute;top: -47px;left: 50%;-webkit-transform: translate3d(-50%, 0, 0);transform: translate3d(-50%, 0, 0);width: 36px;height: 36px;justify-content: center;align-items: center;background: #fff;border-radius: 50%;box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 3px rgba(0,0,0,.117647);display: none;}

.pull-to-refresh--pulling .pull-to-refresh-material2__control,
.pull-to-refresh--aborting .pull-to-refresh-material2__control,
.pull-to-refresh--reached .pull-to-refresh-material2__control,
.pull-to-refresh--refreshing .pull-to-refresh-material2__control,
.pull-to-refresh--restoring .pull-to-refresh-material2__control {  display: flex;}

.pull-to-refresh--pulling .pull-to-refresh-material2__spinner,
.pull-to-refresh--aborting .pull-to-refresh-material2__spinner,
.pull-to-refresh--reached .pull-to-refresh-material2__spinner,
.pull-to-refresh--refreshing .pull-to-refresh-material2__icon,
.pull-to-refresh--restoring .pull-to-refresh-material2__icon {  display: none;}

.pull-to-refresh-material2__spinner {
	-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation: pull-to-refresh-material2-rotate 2s linear infinite;
				animation: pull-to-refresh-material2-rotate 2s linear infinite;
}
.pull-to-refresh-material2__path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	-webkit-animation: pull-to-refresh-material2-dash 1.5s ease-in-out infinite;
			animation: pull-to-refresh-material2-dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes pull-to-refresh-material2-rotate {
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@keyframes pull-to-refresh-material2-rotate {
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes pull-to-refresh-material2-dash {
	0% {
		stroke-dasharray: 1, 200;	stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;	stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;	stroke-dashoffset: -124px;
	}
}
@keyframes pull-to-refresh-material2-dash {
	0% {
		stroke-dasharray: 1, 200;	stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;	stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;	stroke-dashoffset: -124px;
	}
}


/* 테이블 type.a */
table.type.a{border:none;width:100%;border-collapse:collapse;border-bottom: #aaaaaa solid 1px;border-right: #aaaaaa solid 1px;}
table.type.a th,
table.type.a td{padding: 5px 9px;border-top: #aaaaaa solid 1px;border-left: #aaaaaa solid 1px;min-height:34px;}
table.type.a th{background: #f5f5f5;font-weight:normal;text-align:left;}
table.type.a tr:first-child th,
table.type.a tr:first-child td{border-top: #aaaaaa solid 1px;}


/* 테이블 list.a */
table.list.a{width:100%;border-top: 1px solid #aaa;border-collapse:collapse;}
table.list.a>thead>tr>th {padding:14px 0; text-align:center; line-height:16px;}
table.list.a>thead>tr>th, 
table.list.a>tbody>tr>td{padding:14px 0;border-bottom: 1px solid #aaaaaa;border-left: 1px solid #aaaaaa;line-height:16px;vertical-align:middle;font-weight:normal;text-align:center;}
table.list.a>thead>tr>th:first-child, 
table.list.a>tbody>tr>td:first-child {border-left:none;}
table.list.a>tbody>tr>th:last-child, 
table.list.a>tbody>tr>td:last-child {border-right:none;}
table.list.a>tbody>tr>td {}
table.list.a>tbody>tr.nodata>td {width:100%; text-align:center !important;}





/* 레이아웃  */
.body{  }
.body.lock{overflow:hidden;}
html.lock {position: fixed;width: 100%;height: 100%;overflow: hidden;}

.wrap{min-width: 320px;}

.contain{position:relative;min-height:100vh;}
.contain>.container{}
.contents{/* padding:0; */}

/* 페이지 타이틀 */
.pageHd{ height:50px;  }
.pageHd>.in{border-bottom:#181818 solid 1px;position:fixed;left:0px;top:0px;right:0px;background-color:#ffffff;z-index:500;display: flex;justify-content: center;height: 50px;}
.pageHd .bts{}
.pageHd .bts .back{position:absolute;left: 2px;top: 2px;width:44px;height:44px;display:block;background:url(../img/common/his_back.png) no-repeat;background-size:100% auto;font-size:0px;}
.pageHd .bts .help{position:absolute;right: 2px;top: 2px;width:44px;height:44px;display:block;background:url(../img/common/ico_help.png) no-repeat;background-size:100% auto;font-size:0px;}
.pageHd .tit{margin:auto 0px;font-size: 20px;font-family:"CJ Medium";max-width: calc(100vw - 80px);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

/* 버튼들 */
.btn{border: #aaaaaa solid 1px;background: #ffffff;color: #333333;height:40px;overflow:hidden;padding:0 12px;display: inline-flex;justify-content: center;align-items: center;vertical-align:middle;cursor:pointer;white-space:nowrap;}

.btn.xs{height:24px;min-width:30px;padding:0 6px;font-size: 11px;}
.btn.sm{ height:30px; min-width:30px; padding:0 6px; font-size:12px;}
.btn.md{height:40px;min-width:30px;padding: 0 10px;font-size:12px;}
.btn.lg{ height:50px; min-width:50px; padding:0 20px;  font-size:14px;}
.btn.xl{height:60px;min-width: 90px;padding: 0 10px;font-size: 16px;font-weight: 400;}

.btn.disabled,
.btn[disabled]{opacity: 0.5;}

.btn.a{border-color:#0052bb; background-color:#0052bb; color:#ffffff;}
.btn.a:not(.disabled):active{border-color:#002d7e; background-color:#002d7e;}
.btn.b{border-color:#0052bb; background-color:#ffffff; color:#0052bb;}
.btn.b:not(.disabled):active{border-color:#0052bb; background-color:#e5f2fd;}
.btn.c{border-color:#666666; background-color:#ffffff; color:#181818;}
.btn.c:not(.disabled):active{border-color:#666666; background-color:#f5f5f5;}
.btn.d{border-color:#ee4e2e; background-color:#ee4e2e; color:#ffffff;}
.btn.d:not(.disabled):active{border-color:#9b331e; background-color:#9b331e;}
.btn.e{border-color:#646464; background-color:#646464; color:#ffffff;}
.btn.e:not(.disabled):active{border-color:#646464; background-color:#646464;}



.btnSet{position:relative;display:flex;margin-left: -5px;margin-right: -5px;}
.btnSet .btn{width:100%;margin: 0 5px;}
.btnSet.fit{ margin-right: 0px; margin-left: 0px;}
.btnSet.fit .btn{margin-right: 0px; margin-left: 0px;}



/* 탭 */
.uiTabPan {}
.uiTabPan .panel{ display:none;}
.uiTabPan .panel.active{ display:block; }
.uiTabPan .panel{ border:#000000 solid 1px; border-top-width:0px; padding:10px; }
/* 탭 타입 a */
.uiTab.a{ position:relative; height:40px; box-sizing:border-box;}
.uiTab.a:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.uiTab.a>li{ float:left; position:relative; width:50%;}
.uiTab.a>li>a{font-size:14px;color:#999999;border:#cccccc solid 1px;border-bottom-color: #8c8c8c;background-color:#f5f5f5;border-right-width:0px;padding:0 7px;min-width:100px;height:40px;line-height: 35px;text-align:center;display:block;box-sizing:border-box;}
.uiTab.a>li:last-child>a{ border-right-width:1px; }
.uiTab.a>li.active>a{border-color: #8c8c8c;background-color:#ffffff;color:#000000;border-bottom-width:0px;}
.uiTab.a>li.active + li>a{border-left-width:1px;border-left-color: #8c8c8c;}

/* 탭 */
.uiTabPan {}
.uiTabPan .panel{ display:none;}
.uiTabPan .panel.open{ display:block; }
.uiTabPan .panel{ border:#000000 solid 1px; border-top-width:0px; padding:10px; }
/* 탭 타입 a */
.uiTabs.a{ position:relative; height:40px; box-sizing:border-box;}
.uiTabs.a:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.uiTabs.a>li{ float:left; position:relative; width:50%;}
.uiTabs.a>li>a{font-size:14px;color:#999999;border:#cccccc solid 1px;border-bottom-color: #000000;background-color:#f5f5f5;border-right-width:0px;padding:0 7px;min-width:100px;height:40px;line-height: 35px;text-align:center;display:block;box-sizing:border-box;}
.uiTabs.a>li:last-child>a{ border-right-width:1px; }
.uiTabs.a>li.active>a{ border-color:#000000; background-color:#ffffff; color:#000000; border-bottom-width:0px; }
.uiTabs.a>li.active + li>a{ border-left-width:1px; border-left-color:#000000; }

/* 토글 UI */
[data-ui-tog="btn"]{}
[data-ui-tog="ctn"]{display:none;}
[data-ui-tog="ctn"].open{display:block;}

/* tab UI */
[data-ui-tab-btn]{}
[data-ui-tab-ctn]{display:none;}
[data-ui-tab-ctn].active{display:block;}



/* 아코디언 UI */
.uiAccd{ border:#ddd solid 1px; }
.uiAccd>li{ border-bottom:#ddd solid 1px; }
.uiAccd>li:last-child{ border-bottom-width:0px; }
.uiAccd>li .hBox{padding: 9px;position:relative;}
.uiAccd>li .hBox .btnTog{display:block;position:absolute;right:0px;top:0px;bottom:0px;padding: 12px;width:100%;font-size: 0px;box-sizing:border-box;text-align:right;background: none;border: none;}
.uiAccd>li .hBox .btnTog:before{width:40px; height:40px; background:url(../img/common/htmlTog.png); background-size:100% auto; position:absolute; right:0px; top:0px; content:"";}
.uiAccd>li.open .hBox{ font-weight: bold;}
.uiAccd>li.open .hBox .btnTog:before{background-position-y: -43px;}
.uiAccd>li .cBox{ border-top:#ddd solid 1px;  padding:10px; background-color:#fafafa;}

/* 테이블 listA */
table.listA{ border:none; width:100%; border-collapse:separate; border-top:#4a4a4a solid 3px; table-layout:fixed; }
table.listA thead{}
table.listA thead tr{}
table.listA thead tr th{background-color:#f5f5f5;border-bottom:#e0e0e0 solid 1px;font-weight:bold;font-size:14px;padding: 9px 0;position:relative;}
table.listA tbody tr{}
table.listA tbody tr td{padding: 8px 10px;text-align:center;border-bottom: #e0e0e0 solid 1px;position:relative;line-height: 2.2;}
table.listA tbody tr td.left{ text-align:left; }
table.listA tbody tr td.right{ text-align:right; }
table.listA tbody tr td.center{ text-align:center; }
table.listA tbody tr td.tit a{ display:inline-block; vertical-align:middle; white-space:nowrap; max-width:600px; overflow:hidden; text-overflow:ellipsis;  }
table.listA tbody tr:first-child td{ border-top-width:0; }


/* 페이징 */
.paging{text-align:center;position:relative;display: flex;justify-content: space-between;}
.paging>.in{display:inline-block; vertical-align:middle; }
.paging a{padding:0 10px;margin:0px 0px;font-size: 14px;border:#aeaeae solid 1px;border-radius:0px;height: 30px;min-width: 30px;line-height: 28px;text-align:center;display:inline-block;vertical-align:middle;}
.paging .acc{ position:absolute; left:-9999px; }
.paging .nav{display: flex;vertical-align:middle;}
.paging .nav.prev{/* margin-right:12px; */}
.paging .nav.next{/* margin-left:12px; */}
.paging .nav a{width: 30px;height: 30px;background:no-repeat;overflow:hidden;text-indent:-9999px;}
.paging a:hover{}
.paging .nav a.prev{ background-image:url(../img/common/pagePrev.png); }
.paging .nav a.prev.end{background-image:url(../img/common/pagePrevEnd.png);margin-right: 2px;}
.paging .nav a.next{background-image:url(../img/common/pageNext.png); }
.paging .nav a.next.end{background-image:url(../img/common/pageNextEnd.png);margin-left: 2px;}
.paging .link{display: flex;vertical-align:middle;}
.paging .link a{/* border-color:transparent; *//* line-height: 29px; */margin: 0 1px;}
.paging .link a.active{font-weight:bold;color:#0052bb;/* text-decoration:underline; */}

.msg_error{color:#ee4e2e;padding: 5px 10px; display:none;}
.msg_error.show{ display:block; }

.uiListMore{ position: relative;}
.uiListMore .btnMore{width: 100%;height:43px;text-align:center;display:flex;justify-content:center;align-items:center;background: #ffffff;}
.uiListMore .btnMore span{  }
.uiListMore .btnMore:after{ width:18px; height:18px; display:inline-block; margin-left:5px; vertical-align:middle; background:url(../img/common/ico_list_more.png) no-repeat;  background-size:100% auto; content:""; }

.uiListMore.fixed{height: 43px;z-index: 10;}
.uiListMore.fixed .btnMore{ position: fixed; bottom: 0px;}
.noData + .uiListMore .btnMore{border-top: #e0e0e0 solid 1px;}

/* 플로팅 탑버튼 */
.floatNav{position:fixed;right: 10px;bottom: 10px;z-index:100;transition:all 0.4s;}
.floatNav.active{bottom: 60px;}
.floatNav .bt{font-size: 0px;width:32px;height:32px;display:block;background: no-repeat rgba(255, 255, 255, 0.8);border: solid rgba(0, 0, 0, 0.3) 0.5px;transform: translateY(100px);transition: all 0.4s;background-size: 100% auto;margin-top: 10px;}
.floatNav .bt.refresh{background-image: url(../img/common/ico_load.png); transition-delay: 0.0s;}
.floatNav .bt.top{background-image: url(../img/common/btn_top.png); transition-delay: 0.1s;}
.floatNav.active .refresh{ transform: translateY(0px);}
.floatNav.active .top{ transform: translateY(0px); }

.floatNav.active{}
.floatNav.active .refresh{ transform: translateY(0px);}
.floatNav.active .top{ transform: translateY(0px); }
.floatNav.hide{transform: translateY(60%);}





.btnList{text-align: center; padding: 15px 0px;}
.btnList::after{ clear:both; content:""; display:table;}
.btnList .fl{float:left;}
.btnList .fr{float:right;}


/* 페이지 로딩 */
.loadingPage{position:fixed;left:0;right:0;top:0;bottom:0;z-index: 2000;background-color: rgba(255, 255, 255, 0.3);}
.loadingPage>em{ position:absolute; top:50%; left:50%; margin-left:-16px; margin-top:-16px; width:32px; height:32px; padding:0px; overflow:hidden; display:block; box-sizing:border-box;  }
.loadingPage>em:after{content:"";display:inline-block;background: url(../img/common/loading.png) no-repeat;width: 30px;height: 30px;background-size:100% auto;}
.loadingPage>em:after{	animation:loading 1s infinite steps(30);}
@keyframes loading {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); } 
    to   { -webkit-transform: rotate(360deg); }
}

/* 페이지 하단 더 불러오기 */
.uiLoadMore{padding:0px 0;width:100%;display:block;height:56px;overflow:hidden;line-height:0;text-align:center;position:relative;}
.uiLoadMore>em{padding:16px 0px 0px 0px ; display:none;  height:56px; overflow:hidden;  width:56px; box-sizing:border-box; margin:auto; border-radius:100px; }
.uiLoadMore>em:after{animation:loading 1s infinite steps(30); display:block; content:""; background:url(../img/common/loading.png) no-repeat 0px 0px; width:24px; height:24px; margin:auto; background-size:100% auto;}
.uiLoadMore .btnLoad{ position:absolute; left:-9999px; width:100%; box-sizing:border-box; border:#cccccc solid 1px; text-align:center; background-color:#f5f5f5; height:40px; line-height:40px; min-width:50px; padding:0 20px; font-size:14px; box-sizing:border-box; }
.uiLoadMore .btnLoad:after{display:block;position:absolute;left:-9999px;margin:auto;background: url(../img/common/ico_load.png) #f5f5f5 no-repeat;width:30px;height:30px;background-size: 100% auto;content:"";}
.uiLoadMore.active{}
.uiLoadMore.active .btnLoad{ position:relative; left:auto;}
.uiLoadMore.active>em{  overflow:visible; display:block; }
.uiLoadMore.error .btnLoad{ position:relative; left:auto; width:100%; margin-top:8px; }
.uiLoadMore.error .btnLoad:after{left:50%; top:50%; margin:-15px 0 0 -15px; }
.uiLoadMore.error .btnLoad{text-indent:-9999px;overflow:hidden;}
.uiLoadMore.hide{display:none;}

/* 드롭다운 UI*/
.uiDropDown.on{ z-index:300; }
.uiDropDown button{ font-size:13px; color:#666666;}
.uiDropDown button b{ position:relative; font-weight:normal; }
.uiDropDown{display:inline-block;vertical-align:middle;position:relative;height:36px;z-index:10;zoom:1;}
.uiDropDown>.bt{ display:block; width:100%; box-sizing:border-box; text-align:left; border:#bbbbbb solid 1px; font-size:13px; padding:0px 25px 0px 10px; height:36px; line-height:34px; background:url(../img/common/select.png) no-repeat right top; background-size:30px auto; border-radius:0px; cursor:default; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-indent:0; }

.uiDropDown>.bt.on{ /*background-position:right -50px;*/ }
.uiDropDown.disabled .bt{ color:#999999; background-color:#fbfbfb; }
.uiDropDown.up .list{ top:auto; bottom:33px; }
.uiDropDown.up.sm .list{ top:auto; bottom:29px; }
.uiDropDown .list{ display:none; box-sizing:border-box;  overflow-y:auto; overflow-x:hidden; max-height:176px; margin:0px 0 0 0; border:#d6d6d6 solid 1px; position:absolute; left:0px; top:35px;}
.uiDropDown .list.scroll ul li a{ padding-right:25px;  text-overflow:inherit; }
.uiDropDown .list{}
.uiDropDown .list ul{}
.uiDropDown .list ul li{background:#FFF;  position:relative; border-top:#d6d6d6 solid 1px;}
.uiDropDown .list ul li:first-child{ border-top:none;}
.uiDropDown .list ul li button,
.uiDropDown .list ul li a{ display:block; text-align:left; width:100%; box-sizing:border-box; padding:0px 25px 0px 10px; font-size:13px; height:34px; line-height:34px; border:none; cursor:default; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.uiDropDown .list ul li.active { background:#f3f3f3}
.uiDropDown .list ul li button:hover,
.uiDropDown .list ul li button:focus{ background:#f8f8f8;}
.uiDropDown button{}

.uiDropDown[data-ui*='link'] .bt,
.uiDropDown[data-ui*='link'] .list ul li a{ cursor:pointer;}
.uiDropDown .list ul li a:hover,
.uiDropDown .list ul li a:focus{ background:#f8f8f8;}
.uiDropDown a{ text-decoration:none !important;}

.uiDropDown.noWidth>.bt{ padding-right:30px; }


.uiTbList{}
.uiTbList>.list{display:block;overflow:hidden;margin-right: -2px;}
.uiTbList>.list>li{width: calc(33.3333% - 2px);margin-right: 2px;margin-bottom: 2px;float:left;overflow: hidden;}
.uiTbList>.list>li .box{}
.uiTbList>.list>li .box a{display:block;}
.uiTbList>.list>li .box .img{display:block; position:relative; padding-bottom: 100%;}
.uiTbList>.list>li .box .img img{position:absolute;left:0px;top: 50%;width:100%;height:100%;transform: translateY(-50%);}
.uiTbList>.list>li:nth-child(10n+1){}
.uiTbList>.list>li:nth-child(10n+2){}
.uiTbList>.list>li:nth-child(10n+3){}
.uiTbList>.list>li:nth-child(10n+4){}
.uiTbList>.list>li:nth-child(10n+5){width: calc(66.6666% - 2px);float: right;}
.uiTbList>.list>li:nth-child(10n+6){}
.uiTbList>.list>li:nth-child(10n+7){width: calc(100.0% - 2px);clear: both;}
.uiTbList>.list>li:nth-child(10n+8){}
.uiTbList>.list>li:nth-child(10n+9){}
.uiTbList>.list>li:nth-child(10n+10){}



/* 팝업 알럿 */
.popAlert{ white-space:nowrap; position:fixed; left:0px; right:0px; top:0px; bottom:0; text-align:center; overflow-y:auto; z-index:1500; background-color:rgba(0,0,0,0.6); outline:none; }
.popAlert>.pbd{display:inline-block;max-width: calc(100% - 60px);min-width: 300px;vertical-align:middle;text-align:left;position:relative;white-space:normal;z-index:200;}
.popAlert:after{content:''; width:0; height:100%; display:inline-block; vertical-align:middle;}
.popAlert>.pbd>.phd{ border-bottom:#ddd solid 1px; padding:10px 15px; height:46px; box-sizing:border-box; background-color:#fff; }
.popAlert>.pbd>.phd .tit{ font-weight:bold; font-size:16px; }
.popAlert>.pbd>.pct{overflow:auto;padding: 40px 20px 40px 20px;text-align:center;background-color:#fff;font-size: 16px;}
.popAlert>.pbd>.pct p{ margin:8px 0; }
.popAlert>.pbd>.pct .under{ text-decoration:underline; margin:5px 0; }
.popAlert>.pbd>.pbt{padding:0;box-sizing:border-box;text-align:center;display: flex;}
.popAlert>.pbd>.pbt .btn {width:100%;}
.popAlert>.pbd .btnClose{width:30px;height: 30px;position:absolute;right:6px;top:6px;text-indent:-9999px;overflow:hidden;background: url(../img/common/popLayerClose.png) no-repeat center;background-size: 18px auto;}


/* 팝업 컨펌 */
.popConfirm{ white-space:nowrap; position:fixed; left:0px; right:0px; top:0px; bottom:0; text-align:center; overflow-y:auto; z-index:1500; background-color:rgba(0,0,0,0.6); outline:none;}
.popConfirm>.pbd{display:inline-block;max-width: calc(100% - 60px);min-width: 300px;vertical-align:middle;text-align:left;position:relative;white-space:normal;z-index:200;}
.popConfirm:after{content:''; width:0; height:100%; display:inline-block; vertical-align:middle;}
.popConfirm>.pbd>.phd{ border-bottom:#ddd solid 1px; padding:10px 15px; height:46px; box-sizing:border-box; }
.popConfirm>.pbd>.phd .tit{ font-weight:bold; font-size:16px; }
.popConfirm>.pbd>.pct{overflow:auto;padding: 30px 20px 30px 20px;text-align:center;background-color:#fff;}
.popConfirm>.pbd>.pct p{ margin:8px 0; }
.popConfirm>.pbd>.pct .under{ text-decoration:underline; margin:5px 0; }
.popConfirm>.pbd>.pbt{ padding:0px; box-sizing:border-box;text-align:center; display:flex; }
.popConfirm>.pbd>.pbt .btn {width: 100%;}
.popConfirm>.pbd>.btnClose{width: 30px;height: 30px;position:absolute;right: 6px;top: 6px;text-indent:-9999px;overflow:hidden;background: url(../img/common/popLayerClose.png) no-repeat center;background-size: 20px auto;}


/* 팝업 토스트 */
.popToast{position:fixed;left:0px;right:0px;transform: translateY(150%);bottom:0px;transition: all 0.4s;opacity: 0;text-align:center;overflow-y:auto;z-index:500;outline:none;}
.popToast.on{opacity: 1;transform: translateY(0);}
.popToast>.pbd{color:#ffffff;padding: 0px 15px;}
.popToast>.pbd>.pct{padding: 10px 18px 9px 17px;background-color:#468d42;font-size: 13px;line-height: 19px;text-align:center;border-radius: 20px;display: inline-block;}
.popToast.type.a>.pbd>.pct{background-color:#468d42;}
.popToast.type.b>.pbd>.pct{background-color:#b88c33;}
.popToast.type.c>.pbd>.pct{background-color:#af5c4b;}
.popToast.type.d>.pbd>.pct{background-color:#333333;}


.iScrollVerticalScrollbar.iScrollLoneScrollbar{}
.iScrollIndicator{}

/* 팝업 레이어 */
.popLayer{display:none;position:fixed;left:0px;right:0px;top:0px;bottom:0;z-index:1000;background-color: rgba(0,0,0,0.52);outline:none;}
.popLayer>.pbd{background: #ffffff;position:relative;overflow: hidden;/* padding-top:50px; */min-width: 200px;}
.popLayer>.pbd>.phd{height: 50px;position: relative;}
.popLayer>.pbd>.phd>.in{position:fixed;left:0px;right:0px;top:0px;z-index:10;height: 50px;text-align:center;background-color: #ffffff;box-sizing:border-box;border-bottom: #c7c7c7 solid 1px;display: flex;align-items: center;justify-content: center;}
.popLayer>.pbd>.phd .tit{font-size: 20px;color:#000000;font-family:"CJ Medium";width: calc(100% - 70px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.popLayer>.pbd .btnPopClose{position:absolute;right: 10px;top: 9px;width: 30px;height: 30px;text-indent:-9999px;overflow:hidden;background: url(../img/common/popLayerClose.png) no-repeat center;background-size: 20px auto;background-color:transparent;border:none;padding:0;cursor: pointer;z-index: 100;}
.popLayer>.pbd>.pct{position: relative;}
.popLayer>.pbd>.pbt{position:relative;width:100%;min-height: 40px;}
.popLayer>.pbd>.pbt .bts {width:100%;display: flex;}
.popLayer>.pbd>.pbt .bts .btn{ width:100%;}
/* 팝업 레이어 typeA */
.popLayer.a{}
.popLayer.a .pbd{}
.popLayer.a .pct{/* max-height: calc(100vh - 50px); */}
.popLayer.a .poptents{}
.popLayer.a .pbt{}
.popLayer.a .pbt .bots{/* position:fixed; */}

/* 팝업 레이어 typeB */
.popLayer.b{white-space:nowrap;text-align:center;font-size: 0px;}
.popLayer.b:after{content: '';width:0;height:100%;display:inline-block;vertical-align:middle;}
.popLayer.b .pbd{font-size:16px;display:inline-block;max-width: calc(100% - 60px);vertical-align:middle;text-align:left;white-space:normal;padding-top: 0;min-width: 90%;}
.popLayer.b .phd{position: relative;border-bottom-color: #c7c7c7;}
.popLayer.b .phd>.in{ position:relative;}
.popLayer.b .phd .tit{ font-size: 18px;}
.popLayer.b .phd button.close{ background-image: url(../img/common/popLayerClose.png)}
.popLayer.b .pct{min-width: 100%;max-height: 300px;min-height: 70px;touch-action: initial !important;}
.popLayer.b .pct .poptents{}
.popLayer.b .pbt{}
.popLayer.b .pbt .bots{/* position:fixed; *//* width: auto; *//* right: 0; */}
.popLayer.b .pbt .btn{font-size: 14px;width: 50%;}



/* 팝업 레이어 typeC */
.popLayer.c{white-space:nowrap;text-align:center;font-size: 0px;padding: 10px 0px;}
.popLayer.c::after{content: '';width:0;height:100%;display:inline-block;vertical-align:middle;}
.popLayer.c .pbd{transform: translateY(110%);transition: transform 0.3s ease 0s;font-size:16px;bottom: 10px;display:inline-block;vertical-align: bottom;text-align:left;white-space:normal;/* max-width: 310px; */width: calc(100% - 40px);border-radius: 3px;}
.popLayer.c .phd{position: relative;}
.popLayer.c .phd>.in{ position:relative;}
.popLayer.c .phd .tit{ font-size: 18px;}
.popLayer.c .phd button.close{ background-image: url(../images/common/popLayerClose.png)}
.popLayer.c .pct{/* max-height: 240px; *//* min-height: 70px; */}
.popLayer.c .pct .poptents{}
.popLayer.c .pbt{ min-height: auto;}
.popLayer.c .pbt .bots{/* position:fixed; *//* width: auto; *//* right: 0; */}
.popLayer.c .pbt .btn{font-size: 14px;/* width: 50%; */}

.popLayer.c.on .pbd{transform: translateY(0%);}

.popLayer.c .list{padding: 0px 0px;}
.popLayer.c .list>li{text-align: center;border-bottom: #c7c7c7 solid 1px;}
.popLayer.c .list>li:last-child{border-bottom-width: 0px;}
.popLayer.c .list>li .bt{padding: 10px 10px;/* font-size: 13px; */display:block;text-transform: uppercase;}
.popLayer.c .list>li.st .bt{color:#ff414d;}
.popLayer.c .btnPopClose{position: absolute;left: -99999px;}


.popLayer.win{display: block;background-color: #ffffff;padding:0px;}
.popLayer.win::after{ display:none;}
.popLayer.win .pbd{display:block; max-width:100%;}
.popLayer.win .pct{border: #c7c7c7 solid 1px;border-width: 0px 0px;max-height:inherit !important;}


.popSample1 .poptents{padding: 15px;}
.popSample2 .poptents{padding: 15px;}
.popSample3 .poptents{padding: 15px;}
.popSample3.type.b .pct{max-height:200px;}
.popSample3.type.b .pbd{min-width:70%;}



/* 툴팁레이어 */
.ui-tooltips{display: none;position: absolute;z-index: 1000;left: -9999em;top: -9999em;}
.ui-tooltips>.pbd{max-width: 580px;border: 1px solid #cccccc;background: #ffffff;border-radius: 5px;overflow: hidden;box-shadow: rgba(0,0,0,0.1) 2px 2px 3px;}
.ui-tooltips>.pbd>.phd{background-color: #ffffff;height: 36px;position: relative;z-index: 90;padding: 0px 14px 0px 14px;}
.ui-tooltips>.pbd>.phd>.in{ position:relative;}
.ui-tooltips>.pbd>.phd .tit{font-size: 14px;padding: 7px 0px;/* color: #fdd768; */white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 100%;}
.ui-tooltips .btnPopClose{position:absolute;right: -12px;top: 3px;width: 30px;height: 30px;text-indent:-9999px;overflow:hidden;background: url(../img/common/popLayerClose.png) no-repeat center;background-size: 12px auto;background-color:transparent;border:none;padding:0;cursor: pointer;z-index: 100;}
.ui-tooltips>.pbd>.btnPopClose{right: 15px;top: 15px;}
.ui-tooltips>.pbd>.pct{position: relative;background:#ffffff;border-top: 1px solid #cccccc;font-size: 12px;font-weight:300;}
.ui-tooltips>.pbd>.pct .poptents{margin: 15px 14px;}




.noData{text-align: center;padding: 40px 0;position: relative;display: flex;align-content: center;flex-wrap: wrap;}
.noData:before{width: 36px;height: 36px;display: block;margin: 0px auto 5px auto;background: url(../img/common/ico_warning.png) no-repeat;background-size: 100% auto;content: "";}
.noData .tit{font-size: 17px;width: 100%;}
.noData .msg{font-size: 11px;width: 100%; color: #666666; margin-top: 5px}


/* 슬라이드  */
.swiper-container .navigation{position:absolute;top: 0;left:0px;right:0px;bottom: 0;}
.swiper-container .navigation .nav{position:absolute;top:50%;width:40px;height:70px;z-index:1;font-size:0;background:url(../img/common/slide_nav.png) no-repeat;transform: translateY(-50%);}
.swiper-container .navigation .nav.prev{left:10px}
.swiper-container .navigation .nav.next{right:10px;background-position:right 0px}
.swiper-container .navigation .nav.swiper-button-disabled{background-position-y:-70px}
.swiper-container .pagination{position:absolute;right:0px;left:0px;bottom: 10px;text-align:center;z-index:100;}
.swiper-container .pagination .swiper-pagination-bullet{width:10px;height:10px;background:none !important;opacity:1;padding: 2px;margin: 0 2px;}
.swiper-container .pagination .swiper-pagination-bullet:after{content:"";width: 6px;height: 6px;margin: auto;display:block;border-radius:10px;border:#000000 solid 1px;background-color:#000000;box-sizing:border-box;opacity:0.2;}
.swiper-container .pagination .swiper-pagination-bullet-active:after{opacity:1}
/* 샘플1 */
.slideSample1{position:relative;/* background-color:#f8f8f8; */}
.slideSample1 .hdt{}
.slideSample1 .slide{/* padding-bottom:60px */}
.slideSample1 .slide{}
.slideSample1 .slide>li{}
.slideSample1 .slide>li .thumb{}
.slideSample1 .slide>li .thumb .img{display:block;}
.slideSample1 .slide>li .thumb img{width:100%}
/* 샘플2 */
.slideSample2{position:relative; overflow: hidden;}
.slideSample2 .swiper-container{ width:100%; }
.slideSample2 .slide>li{ width:45.4%; }
.slideSample2 .slide>li .item{ height:100%; }
.slideSample2 .slide>li .item .thumb{ display:block; width:100%; position:relative; z-index: 1;}
.slideSample2 .slide>li .item .thumb {background-color:#f8f8f8;  position:relative;}
.slideSample2 .slide>li .item .thumb a{}
.slideSample2 .slide>li .item .thumb .img{  display:block; width:100%;padding-bottom:100%; position:relative; overflow:hidden; }
.slideSample2 .slide>li .item .thumb .img img{ width:100%; display:block; vertical-align:middle;  position:absolute; left:0px; top:50%; transform:translateY(-50%);}
.slideSample2 .slide>li .item .info{ padding:8px 10px; text-align:center;}
.slideSample2 .slide>li .item .info .name{font-size:12px;max-height: 40px;line-height:20px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.slideSample2 .slide>li .item .info .prc{ font-size:12px; padding-top:8px;}
